<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 leftBar vh-100">
            <div class="userDetails p-4 text-center">
                <img src="./assets/images/download.png" class="img" class="rounded-circle" alt="" width="60" height="60">
                <div class="loggedUser">
                    <span>Welocme</span>
                    <span>"username"</span>
                </div>
                <div class="editProfile">
                    <a href="#" >Update Profile</a>
                </div>
            </div>
            <br>
            <div class="friendsList p-4">
                <h4>Friends</h4>
                <ul>
                    <li>tjdsf</li>
                    <li>fdsf</li>
                    <li>sdfsf</li>
                    <li>sdfds</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 text-left content_sec">
            <div class="onlineList p-4">
                <h4>Online Users</h4>
                <ul>
                    <li class="onlineListli"><span class="float-md-left float-sm-left">kdfgkfd</span> <a href="" class="float-md-right float-sm-right">send request</a></li>
                    <li>fdsf</li>
                    <li>sdfsf</li>
                    <li>sdfds</li>
                </ul>
            </div>
        </div>
    </div>
</div>